/* Контейнер для информации о продукте */
.product_item {
  display: flex; /* Отображение элементов внутри контейнера в виде строки */
  justify-content: center; /* Выравнивание контейнера по горизонтали по центру */
  gap: 50px; /* Расстояние между элементами внутри контейнера */
  align-items: center; /* Выравнивание элементов по вертикали по центру */
  width: 900px; /* Ширина контейнера */
  margin: 40px auto; /* Отступы сверху и снизу, автоматическое центрирование по горизонтали */
}

/* Стили для изображения продукта */
.product_item img {
  height: 300px; 
  width: 300px; 
  object-fit: contain; /* Распределение изображения внутри контейнера */
  border-radius: 5%; 
  border: 2px solid; 
}

/* Стили для первого абзаца (названия продукта) */
.product_item > div p:first-child {
  font-weight: 700; /* Жирный шрифт */
  font-size: 24px; 
  margin: 15px 0; /* Верхний и нижний отступ */
}

/* Стили для третьего абзаца (скидки на продукт) */
.product_item > div p:nth-child(3) {
  color: rgb(249, 23, 23); 
  font-weight: 700; /* Жирный шрифт */
  margin: 10px 0; /* Верхний и нижний отступ */
  font-size: 20px; 
}

/* Стили для последнего абзаца (описания продукта) */
.product_item > div p:last-child {
  background-color: green; /* Цвет фона  */
  color: rgb(227, 165, 165); /* Цвет текста */
  border-radius: 5px; 
  padding: 15px; /* Внутренний отступ */
  width: fit-content; /* Ширина подстраивается под содержимое */
  margin: 15px 0; /* Верхний и нижний отступ */
}

/* Стили для кнопки "Добавить в корзину" */
.add_btn {
  cursor: pointer; /* Курсор при наведении (подразумевает, что элемент кликабельный) */
  background-color: rgb(144, 238, 144); /* Цвет фона кнопки  */
  color: green; /* Цвет текста кнопки */
  /* border: 1px solid green;  */
  border-radius: 5px; 
  padding: 10px; /* Внутренний отступ кнопки */
  width: fit-content; /* Ширина подстраивается под содержимое */
}



