/* Стиль для всех карточек категорий */
.category_card {
	width: 250px; /* Устанавливаем ширину карточки */
	height: 350px; /* Устанавливаем высоту карточки */
	margin: 0 auto; /* Выравниваем по центру горизонтально */
	display: flex; /* Используем flex-контейнер для выравнивания контента */
	flex-direction: column; /* Устанавливаем направление контента в столбец */
	justify-content: center; /* Выравниваем содержимое по центру вертикально */
  }
  
  .category_card img {
	height: 250px; /* Устанавливаем высоту изображения внутри карточки */
	width: 250px; /* Устанавливаем ширину изображения внутри карточки */
	border-radius: 5%; 
  }
  
  h3 {
	text-align: center; /* Выравниваем текст заголовка по центру */
	margin-top: 10px; /* Добавляем небольшой отступ сверху для заголовка */
  }
  

