.nav_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    padding: 40px;
    font-size: 16px;
    width: 100%;
    height: 72px;
}

.nav_menu a {
    text-decoration: none;
    color: black;
}

/* Стили для первой ссылки */
.nav_menu :first-child {
    margin-left: 0px;

}

/* Стили для второй ссылки (Каталог) */
.nav_menu :nth-child(2) {
    background-color: #339933;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 14px;
    width: 125px;
    height: 49px;
    margin-left: 20px;
}

/* Стили для третьей ссылки (Главная) */
.nav_menu :nth-child(3) {
    margin-left: 380px;
	/* font-size: 24px; */
}

/* Стили для четвертой ссылки (Все товары) */
.nav_menu :nth-child(4) {
    margin-left: 10px;
	/* font-size: 24px; */
}

/* Стили для последней ссылки (корзина) */
.nav_menu :last-child {
    margin-left: 160px;
    
}

